body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20; /* Ensure the content is after the background*/
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the background is behind other content */
}

#canvasContainer {
  position: fixed; /* Fija la posición para centrarlo en la pantalla */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el div */
  z-index: 30; /* Coloca el z-index en 30 */
}

